<!-- Google tag (gtag.js) -->
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LZVK5V6D4F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LZVK5V6D4F');
</script>
</head>

<body>
<div class='w-10 h-10 bg-red-600'>
  <br>
    <h1>RANDOM HOTEL</h1>
  <br>
  <div>
    <%= link_to 'どこかのホテルへ', new_hotel_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
</body>