
<div class='w-10 h-10 bg-red-600'>
  <br>
    <h1>RANDOM HOTEL</h1>
  <br>
  <div>
    <%= link_to 'どこかのホテルへ', new_hotel_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
