
<body>
<div class='h-screen w-screen flex justify-center items-center'>
  <div>
    <h1>RANDOM Hotel</h1>
  </div>
  <div>
    <%= javascript_include_tag "/custom/hito.js" %>
  </div>
  <div>
  <%= image_tag('hito.png', size: '100x200', alt: '旅行客')%>
  <button type=button id="info-btn">start</button> 
  </div>

  <div>
    <%= link_to 'どこかの温泉宿', new_hotel_path, class: "bg-blue-500 hover:opacity-75 bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
</body>